.Chat {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Source Code Pro', monospace;
}

.ChatMessage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3.5rem;

  animation: fade-in 1s linear forwards;
  opacity: 0;

  &[data-author="Stormgren"] {
    flex-direction: row-reverse;
    text-align: right;
    & .author {
      margin-left: 1rem;
      margin-right: 0;
    }
  }

  // & + .ChatMessage {
  //   animation-delay: 2s;
  // }
}

.ChatMessage + .ChatMessage[data-author="Karellen"] {
  animation-delay: 1s;
  & + .ChatMessage[data-author="Karellen"] {
    animation-delay: 2s;
    & + .ChatMessage[data-author="Karellen"] {
      animation-delay: 3s;
    }
  }
}

.ChatMessage + .ChatMessage[data-author="Wainwright"] {
  animation-delay: 1s;
  & + .ChatMessage[data-author="Wainwright"] {
    animation-delay: 2s;
    & + .ChatMessage[data-author="Wainwright"] {
      animation-delay: 3s;
    }
  }
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.ChatSelect {
  cursor: pointer;
}

.chat--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.chat-body--container {
  background: black;
  color: white;
  border: 1px solid lime;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
}

.chat-title h1 {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Press Start 2P', monospace;
}

.chat-body {
  display: flex;
  flex-direction: column;
  border: 1px solid lime;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.chat-messagearea {
  height: 80%;
  overflow-y: scroll;
  position: relative;
}

.chat-messagearea--container {
  position: absolute;
  width: 100%;
}

.chat-dialogue--select {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid lime;
  border-radius: 4px;
  height: 20%;
  padding: 1rem;
}

.chat-dialogue--option {
  cursor: pointer;
  &:hover {
    color: aqua;
  }
}

.chat--toggle {
  text-align: center;
}

.author {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 1rem;
  padding: 1rem;
  height: 120px;
  width: 120px;

  &#Karellen {
    background-image: url(../avatars/avatar_karellen.jpg);
  }
  &#Stormgren {
    background-image: url(../avatars/avatar_stormgren.jpg);
  }
  &#Wainwright {
    background-image: url(../avatars/avatar_wainwright.jpg);
  }
}

.message {
  width: 100%;
  max-width: 1400px;
}